
<div class="container">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../img/hero.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">Alejandro,</h6>
          <p class="card-text">
              Para autorizar la firma de este documento necesitamos verificar tu identidad...
              <span>tomate una selfie</span></p>
          <a class="btn btn-primary" (click)="submit()">Firmar</a>
        </div>
    </div>
</div>

