@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.fontcool1 {
  font-family: "Caveat", cursive;
}

.fontcool2 {
  font-family: "Dancing Script", cursive;
}

.fontcool3 {
  font-family: "Great Vibes", cursive;
}
